!!!
%html
  %head
    %title Generador de Firmas - Grupo Urbegi
    %meta{:content => 'width=device-width, initial-scale=1', :name => 'viewport'}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = yield

    %footer
      .container
        .row
          .col-xs-12
            %p.text-center &copy; Urbegi Product Research #{Time.now.year}. Todos los derechos reservados.