!!!
%html
  %head
    %title Echo
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %header#signature
      .container
        .row
          .col-xs-12.header-inner
            = link_to 'Grupo Urbegi', root_path, class: 'logo pull-left shake animated'
            .social-icons.text-right.pull-right
              %a{:href => 'https://www.facebook.com/pages/Grupo-Urbegi/684397238292725'}
                %i.fa.fa-facebook

          .clearfix
          .col-xs-12
            .row
              = render partial: 'main/signature/signature'
              = render partial: 'main/signature/options'

    %section#generator-loading.section-wrapper
      .container
        .row
          .col-xs-12
            %h2.section-title.text-align-center
              %span
                %i.fa.fa-spinner.fa-spin
                Generando firma ...
            .fashion-icon.text-align-center
              %h3.fashion-title
                %i.fa.fa-paint-brush.fa-5x

    %section#download.section-wrapper
      .container
        .row
          .col-xs-12
            .flipInX.animated
              %h2.section-title.text-align-center
                %span Descargar firma
                .clearfix
                %i.fa.fa-cloud-download.fa-5x

    %footer
      .container
        .row
          .col-xs-12
            %p.text-center &copy; Urbegi Product Research #{Time.now.year}. Todos los derechos reservados.