!!!
%html
  %head
    %title Generador de Firmas - Grupo Urbegi
    %meta{:content => 'width=device-width, initial-scale=1', :name => 'viewport'}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %header#signature
      .container
        .row
          .col-xs-12.header-inner
            = link_to 'Grupo Urbegi', root_path, class: 'logo pull-left shake animated'
            .social-icons.text-right.pull-right
              %a{:href => 'https://www.facebook.com/pages/Grupo-Urbegi/684397238292725'}
                %i.fa.fa-facebook

          .clearfix
          .col-xs-12.margin-bottom-20
            .row
              = render partial: 'main/signature/signature'
              = render partial: 'main/signature/options'

    %section#generated.section-wrapper.hidden
      .container.fill
        .row.margin-top-30
          .col-xs-12
            -#.flipInX.animated
            %h2.h1.section-title.text-center
              %span
                %i.fa.fa-cloud-download
                Descargar firma
              .clearfix
              #generated-signature
                .image.margin-20
                .link
                  %span.url
                  %span.label.label-default
                    %i.fa.fa-link

    %footer
      .container
        .row
          .col-xs-12
            %p.text-center &copy; Urbegi Product Research #{Time.now.year}. Todos los derechos reservados.